<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}"/>
        <title>{% block title %}{% endblock %} - PFlog</title>
    </head>
    <body>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}<a>
            <div class="flash">{{ message }}</div>
            {% endfor %}
            <div><i><a href="/">Home</a></i></div>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
